[submodule "msgpack"]
	path = server/src/server/vendor/github.com/ugorji/go
	url = git@github.com:ugorji/go.git
[submodule "logrus"]
	path = server/src/server/vendor/github.com/Sirupsen/logrus
	url = git@github.com:Sirupsen/logrus.git
[submodule "iniflags"]
	path = server/src/server/vendor/github.com/aurelien-rainone/iniflags
	url = git@github.com:aurelien-rainone/iniflags.git
