[submodule "msgpack"]
	path = server/src/server/vendor/github.com/ugorji/go
	url = git@github.com:ugorji/go.git
[submodule "logrus"]
	path = server/src/server/vendor/github.com/Sirupsen/logrus
	url = git@github.com:Sirupsen/logrus.git
[submodule "telgo"]
	path = server/src/server/vendor/github.com/aurelien-rainone/telgo
	url = git@github.com:aurelien-rainone/telgo
[submodule "go-astar"]
	path = server/src/server/vendor/github.com/beefsack/go-astar
	url = git@github.com:beefsack/go-astar
[submodule "golang-x-image"]
	path = server/src/server/vendor/golang.org/x/image
	url = https://go.googlesource.com/image
[submodule "urfave-cli"]
	path = server/src/server/vendor/github.com/urfave/cli
	url = git@github.com:urfave/cli.git
[submodule "go-ini"]
	path = server/src/server/vendor/gopkg.in/ini.v2
	url = git@github.com:go-ini/ini.git
